VITE_FIREBASE_API_KEY=AIzaSyBYb_JO2AYY502QAqvQHCMDE3Ydbh_WoBg
VITE_FIREBASE_AUTH_DOMAIN=barberpro-bi.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=barberpro-bi
VITE_FIREBASE_STORAGE_BUCKET=barberpro-bi.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=857718423028
VITE_FIREBASE_APP_ID=1:857718423028:web:43c1164927babeb38acda1
GEMINI_API_KEY=
